.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body > * {
  background: whitesmoke; }

.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 10fr 80px; }
  .wrapper > div {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray; }

#navbar {
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border: none;
  padding: .4em;
  background-color: #4D1D3F;
  color: whitesmoke; }
  #navbar > * {
    margin: auto;
    margin-left: 1%; }
  #navbar > .logo {
    font-family: Trebuchet MS;
    font-size: 3em;
    grid-column: 2; }
  #navbar .user-and-logout {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: auto; }
  #navbar .username {
    font-size: 2em;
    grid-column: 1;
    padding-right: 2em;
    margin: auto; }
  #navbar #logout-button {
    grid-column: 2;
    margin: auto; }

#current-song {
  grid-column: 1/4;
  grid-row: 2;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-left: none;
  border-right: none; }

#current-song, #current-song * {
  /*background: white;*/ }

.current-song-info {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 7fr; }

.current-song-artwork {
  margin: .5em;
  grid-column: 1;
  height: 125px;
  float: right; }

#current-song-details {
  grid-column: 2;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto; }

#current-song-details > .song-title {
  font-size: 200%;
  line-height: 120%; }

#current-song-details > .song-artist {
  font-size: 150%;
  line-height: 140%; }

.my-song-modal {
  margin: auto;
  margin-right: 1%; }

#playlist-container {
  grid-column: 1;
  grid-row: 3;
  padding: 0;
  position: relative;
  border-top: none;
  border-bottom: none;
  border-left: none;
  overflow: auto;
  overflow-x: hidden; }

#my-playlists {
  font-family: Trebuchet MS;
  color: #4D1D3F;
  text-align: center;
  font-size: 200%;
  line-height: 200%;
  border-bottom: 1px solid lightgray; }

#create-playlist-button {
  position: sticky;
  bottom: 0;
  border-radius: 0px;
  width: 100%;
  background-color: #4D1D3F; }

.current-playlist {
  grid-column: 2/3;
  grid-row: 3; }

.current-playlist-song {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid lightgray; }

.current-playlist-song > .artwork {
  grid-column: 1;
  margin: auto; }

.current-playlist-song > .song-info {
  grid-column: 3;
  margin-top: auto;
  margin-bottom: auto; }

.current-playlist-song > .note {
  grid-column: 4;
  font-size: 1.2em; }

#following {
  grid-column: 3;
  grid-row: 3;
  border-top: none;
  border-right: none;
  border-bottom: none;
  overflow: auto;
  overflow-x: hidden; }

.bottom-player {
  grid-column: 1/4;
  grid-row: 4;
  border: none; }
